* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  margin: 50px;
}

li {
  cursor: pointer;
  margin-top: 10px;
  
}

.msg {
  color: gray;
  font-size: 14px;
}

.btn {
  background-color: rgb(6, 134, 239);
  color: white;
  font-size: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.black{
  color:black
}
.blue{
  color: blue;
}